<a-scene>
    <a-assets>
      <a-asset-item id="putter" src="/models/putter.obj" ></a-asset-item>
      <a-asset-item id="golf-putter" src="/models/golf_putter.obj" ></a-asset-item>
      <a-asset-item id="putter-material" src="/models/putter.mtl"></a-asset-item>

      
      <a-asset-item id="t1" src="/models/t1.obj" ></a-asset-item>
      <a-asset-item id="t1-material" src="/models/t1.mtl"></a-asset-item>

      <a-asset-item id="ball" src="/models/ball.gltf"></a-asset-item>

      <img id="ground" src="/models/tex/green.jpg">
    </a-assets>
    <a-sky color="#7EC0EE"></a-sky>
    <a-entity light="type: ambient"></a-entity>

    <!-- Textured plane parallel to ground. -->
    <a-plane static-body src="#ground" height="200" width="200" rotation="-90 0 0" repeat="100 100"></a-plane>

    <!-- <a-ocean color="aqua" depth="100" width="100"></a-ocean> -->

    <a-obj-model src="#t1" 
          rotation="-90 0 180"
          position="0.3 0 -3" 
          static-body="shape: box;"
          scale="0.05 0.05 0.05"></a-obj-model>

    <a-obj-model src="#putter"
      position="4.6 0.8 -2.5" 
      scale="0.001 0.001 0.001" 
      dynamic-body="shape: box; mass: 20;"
      ></a-obj-model>

      <a-obj-model src="#golf-putter" 
      position="5 1 -2.5" 
      scale="1 1 1" 
      dynamic-body="shape: box; mass: 20;"></a-obj-model>

    <a-entity id="container"></a-entity>

    <!-- <a-entity id="player"
      camera="userHeight: 1.6"
      wasd-controls
      look-controls
      restrict-position>
    </a-entity> -->
    <a-text id="score" position="0 5 -2" value=""></a-text>

    <a-entity camera look-controls position="0 4 4"></a-entity>

    <a-entity id="leftHand" hand-controls="left"></a-entity>
    <a-entity id="rightHand" hand-controls="right"></a-entity>
    <!-- <a-entity putter-controls hand="right"></a-entity> -->
  </a-scene>
  