<a-scene light="defaultLightsEnabled: false"
physics="driver: worker; frictionEquationStiffness:1e2; ">
    <a-assets>
      <!-- <a-asset-item id="ball" src="/models/ball.gltf"></a-asset-item> -->
      <a-asset-item id="Ball_blue" src="/models/Ball_blue_01.glb"></a-asset-item>
      <a-asset-item id="Ball_green" src="/models/Ball_green_01.glb"></a-asset-item>
      <a-asset-item id="Ball_red" src="/models/Ball_red_01.glb"></a-asset-item>
      
      <a-asset-item id="Club_blue" src="/models/Club_blue_01.glb"></a-asset-item>
      <a-asset-item id="Club_green" src="/models/Club_green_01.glb"></a-asset-item>
      <a-asset-item id="Club_red" src="/models/Club_red_01.glb"></a-asset-item>

      <a-asset-item id="Bump" src="/models/Bump_01.glb"></a-asset-item>
      <a-asset-item id="Bump_down" src="/models/Bump_down_01.glb"></a-asset-item>
      <a-asset-item id="Bump_down_walls" src="/models/Bump_down_walls_01.glb"></a-asset-item>
      <a-asset-item id="Bump_walls" src="/models/Bump_walls_01.glb"></a-asset-item>
      <a-asset-item id="Gap" src="/models/Gap_01.glb"></a-asset-item>
      <a-asset-item id="Hill_square" src="/models/Hill_square_01.glb"></a-asset-item>
      <a-asset-item id="Hole_open" src="/models/Hole_open_01.glb"></a-asset-item>
      <a-asset-item id="Narrow_round" src="/models/Narrow_round_01.glb"></a-asset-item>
      <a-asset-item id="Narrow_square" src="/models/Narrow_square_01.glb"></a-asset-item>
      <a-asset-item id="Obstacle_block" src="/models/Obstacle_block_01.glb"></a-asset-item>
      <a-asset-item id="Obstacle_diamond" src="/models/Obstacle_diamond_01.glb"></a-asset-item>
      <a-asset-item id="Obstacle_triangle" src="/models/Obstacle_triangle_01.glb"></a-asset-item>
      <a-asset-item id="Open" src="/models/Open_01.glb"></a-asset-item>
      <a-asset-item id="Ramp_1" src="/models/Ramp_1_01.glb"></a-asset-item>
      <a-asset-item id="Ramp_2" src="/models/Ramp_2_01.glb"></a-asset-item>
      <a-asset-item id="Ramp_3" src="/models/Ramp_3_01.glb"></a-asset-item>
      <a-asset-item id="Ramp_4" src="/models/Ramp_4_01.glb"></a-asset-item>
      <a-asset-item id="Ramp_sharp" src="/models/Ramp_sharp_01.glb"></a-asset-item>
      <a-asset-item id="Ramp_square" src="/models/Ramp_square_01.glb"></a-asset-item>
      <a-asset-item id="Round_corner_1" src="/models/Round_corner_1_01.glb"></a-asset-item>
      <a-asset-item id="Round_corner_3" src="/models/Round_corner_3_01.glb"></a-asset-item>
      <a-asset-item id="Side" src="/models/Side_01.glb"></a-asset-item>
      <a-asset-item id="Split" src="/models/Split_01.glb"></a-asset-item>
      <a-asset-item id="Split_start" src="/models/Split_start_01.glb"></a-asset-item>
      <a-asset-item id="Split_walls_to_open" src="/models/Split_walls_to_open_01.glb"></a-asset-item>
      <a-asset-item id="Straight" src="/models/Straight_01.glb"></a-asset-item>
      <a-asset-item id="T_split" src="/models/T_split_01.glb"></a-asset-item>
      <a-asset-item id="Walls_to_open" src="/models/Walls_to_open_01.glb"></a-asset-item>

      <a-mixin id="cube" dynamic-body grabbable geometry="primitive: box; width: 0.5; height: 0.5; depth: 0.5"></a-mixin>
    </a-assets>
    <a-sky src="/img/sky.png"></a-sky>

    <!-- Textured plane parallel to ground. -->
    <a-plane static-body height="200" width="200" rotation="-90 0 0"></a-plane>
    <!-- <a-box static-body height="200" width="200" depth="0.001" rotation="-90 0 0"></a-box> -->

    <a-entity id="container"></a-entity>
    <a-entity id="course-container"></a-entity>

    <!-- <a-entity id="pieces-container" position="0 2 0">
      <a-entity mixin="ze"></a-entity>
      <a-entity static-body>
        <a-plane height="1" width="1" rotation="-90 0 0" color="#88DD66"> </a-plane>
      </a-entity>

      <a-entity static-body>
        <a-plane height="1" width="1" rotation="-90 0 0" color="#88DD66"> </a-plane>
        <a-box height="1" width="0.1" depth="0.1" rotation="-90 0 0" position="-0.45 0 0"></a-box>
      </a-entity>

    </a-entity> -->

    <!-- <a-entity id="player"
      camera="userHeight: 1.6"
      wasd-controls
      look-controls
      restrict-position>
    </a-entity> -->
    <a-text id="score" position="0 5 -2" value=""></a-text>

    <!-- <a-entity camera look-controls position="0 4 4"></a-entity> -->

    <a-entity id="cameraRig">
      <a-camera id="head" position="0 5 10"></a-camera>
      <a-entity super-hands hand-controls="left" teleport-controls="cameraRig: #cameraRig; teleportOrigin: #head;">
    
      </a-entity>
      <a-entity super-hands hand-controls="right" teleport-controls="cameraRig: #cameraRig; teleportOrigin: #head;">
          <a-entity id="club" position="-0.1 0.029 0.270" rotation="-90 180 0" scale="0.3 0.3 0.3">
              <a-gltf-model src="#Club_blue" 
                scale="1 1 1"
                rotation ="0 90 -90">
              </a-gltf-model>
              <a-box width="0.1" height="0.2" depth="0.55"
                rotation="13 90 0"
                position="-0.24 -3.18 -0.04"
                static-body="mass: 1000; linearDamping: 0.7"></a-box>
          </a-entity>
        </a-entity>
    </a-entity>

    
    
    <a-plane static-body height="3" width="3" rotation="-90 0 0" position="6 2 9.4" color="#005599"></a-plane>

    <!-- <a-entity vive-controls="hand: left"></a-entity>zz
    <a-entity vive-controls="hand: right"></a-entity> -->
    <!-- <a-entity putter-controls hand="right"></a-entity> -->

    <a-light type="ambient" color="#FFFFFF" angle="0" position="0 100 0" intensity="0.2"></a-light>

    <a-entity position="-0.02 10.168 -0.68" dynamic-body="mass: 0.1; angularDamping: 0.7">
        <a-sphere color="yellow" radius="0.03"></a-sphere>
        <a-light type="point" color="#FFFFFF" angle="180" position="0 0.05 0" intensity="0.05"></a-light>
        <a-light type="point" color="#FFFFFF" angle="180" position="0 -0.05 0" intensity="0.05"></a-light>
        <a-light type="point" color="#FFFFFF" angle="180" position="0.05 0 0" intensity="0.05"></a-light>
        <a-light type="point" color="#FFFFFF" angle="180" position="-0.05 0 0" intensity="0.05"></a-light>
        <a-light type="point" color="#FFFFFF" angle="180" position="0 0 0.05" intensity="0.05"></a-light>
        <a-light type="point" color="#FFFFFF" angle="180" position="0 0 -0.05" intensity="0.05"></a-light>
    </a-entity>
    
  </a-scene>
  